<!DOCTYPE html>
<html lang="fr">
<head>
    {{> head title="Vidéos Lindy Hop"}}
</head>
<body>
<h1 class="page-title">Vidéos Lindy Hop</h1>

Montrer vidéos de <select id="tag-filter" onchange="applyFilter(this.value)">
    <option value="">(tout)</option>
    {{#each non_unique_tags}}
        <option value="{{tag}}">{{tag}} ({{count}})</option>
    {{/each}}
</select>

<div>
    {{#each videos}}
        {{> video base_url="." access_salt=../access_salt access_iterations=../access_iterations}}
    {{/each}}
</div>
</body>
</html>