<!DOCTYPE html>
<html lang="fr">
<head>
    {{> head base_url=".." title=page_title}}

    <meta property="og:image" content="{{public_url}}/{{video.thumbnail}}"/>
</head>
<body>
<h1 class="page-title">Vidéo Lindy Hop</h1>

<div>
    {{> video video base_url=".." access_salt=access_salt access_iterations=access_iterations}}
</div>

<p>
    <a href="..">Voir toutes les vidéos</a>
</p>

</body>
</html>