<!DOCTYPE html>
<html lang="fr">
<head>
    {{> head base_url="." title="A propos des vidéos Lindy Hop"}}
</head>
<body>
<h1 class="page-title">A propos des vidéos Lindy Hop</h1>

<p>Ce site regroupe des vidéos de danse Swing Lindy Hop récupérées par moi, Guilherme dans les différents cours et
    festivals auxquels j'ai participé.</p>

<p>Ce site a pour but répertorier ces vidéos et faciliter leur partage parmi les amis du Swing. Je trouve que c'est une
    manière de valoriser ces connaissances et ça nous permet de nous souvenir des différentes passes. Bien sûr, aucune
    vidéo
    ne remplace les heures de pratique, mais peut en servir de support.</p>

<p>Une bonne partie de vidéos ici présentes n'étaient pas enregistrées pas moi et je n'ai pas eu l'accord explicite des
    personnes enregistrées pour les publier. Si tu es le détenteur de droit, il suffit de m'écrire pour que je
    l'enlève.</p>

<p>Pour respect au travail des profs, les vidéos de stage sont protégées par un code à 4 chiffres. Si tu as fais le
    stage
    avec moi, tu peux me demander le code, qui sera enregistré automatiquement pour tes prochaines visites.</p>

<p>Si tu as des vidéos que tu veux ajouter à ce site, écris-moi aussi stp !</p>

<p>Contact : lindy-hop arobase sitegui.dev</p>

<p>Code source : <a href="https://github.com/sitegui/lindy-hop">github.com/sitegui/lindy-hop</a></p>
</body>
</html>