<!DOCTYPE html>
<html lang="fr">
<head>
    {{> head base_url="." title="Vidéos Lindy Hop"}}
</head>
<body>
<h1 class="page-title">Vidéos Lindy Hop</h1>
<p><a href="a-propos.html">A propos de ce site</a></p>

<div>
    {{#each videos}}
        {{> video base_url="." access_salt=../access_salt access_iterations=../access_iterations}}
    {{/each}}
</div>
</body>
</html>