<!DOCTYPE html>
<html lang="fr">
<head>
    {{> head base_url="." title="Vidéos Lindy Hop"}}
</head>
<body>
<h1 class="page-title">Vidéos Lindy Hop</h1>
<p><a href="a-propos.html">A propos de ce site</a></p>

{{> search all_tags=all_tags base_url="."}}

<div>
    {{#each videos}}
        {{> video base_url="." access_salt=../access_salt access_iterations=../access_iterations thumbnail_height=../thumbnail_height}}
    {{/each}}
</div>
</body>
</html>