<meta charset="UTF-8">
<title>{{title}}</title>
<link rel="stylesheet" href="/css.css?{{build_time}}">
<script src="/js.mjs?{{build_time}}" type="module"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">